{% extends 'SonataNewsBundle:Post:archive.html.twig' %}
{% block title %}Projets {{ parent() }}{% endblock %}
 
    

    {% block image_accueil %}  {% endblock %}

    {% block corps %}
<div class="blocBlanc">
        {% for entity in entities %}

        {% if loop.index is divisibleby(2) %}
            <div class="row">
                <a href="{{ path('tperroin_show', { 'id': entity.id }) }}"><div class="large-6 columns">
                    <div class="panel">
                        <h5>{{ entity.titre }}</h5>
                        <p>{{ entity.teaser }}</p>
                    </div>
                </div></a>
            </div>
        {% else %}
            <div class="row">
                <a href="{{ path('tperroin_show', { 'id': entity.id }) }}">
                    <div class="large-6 columns">
                        <div class="panel callout radius">
                            <h5>{{ entity.titre }}</h5>
                            <p>{{ entity.teaser }}</p>
                        </div>
                    </div>
                </a>
            </div>
        {% endif %}
         
         {% endfor %}
          
          
    </div>  



    {% endblock %}